body{
    max-width: 1280px;
    margin: 0 auto;
    border: red 1px solid;
    padding: 20px;
}
h1{
    color: #2b4e2e
}
h2{
    color: #8b2b2b
}
.redword{
    color:#8b2b2b;
    font-weight: bold;
}
.cyanWord{
    color:#4a6b9a;
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.blueword{
    color: #1a237e;
}
a:link {color:#32cd32}
a:hover{color:#1a237e}