aside{
    
    flex-flow: row wrap;
    background-color: aquamarine;
}
nav{
    display:flex;
    flex-flow: column;
}
img{
    max-width: 100%;
    height: auto;
}
@media  screen  and (min-width: 601px){
    nav{
    display: flex;
    flex-flow: wrap;
    }

}
@media  screen  and (min-width: 768px){
    
    
    main{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    
    
}
@media screen and (min-width: 960px){
    main{
        max-width: 960px;
    }

}
@media screen and (min-width: 1280px){
    body{
        display: grid;
        place-items: center;
    }
}