

.redBorder {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 4px solid red;
    
}

.titleText {

    font-weight: bold;
    color: green;
    border: 2px solid green; 
    padding: 5px;
    margin-bottom: 20px;
   
}

.greenBorder {
    margin: 20px 0; 
    padding: 15px;
    border: 2px solid green;
    
}

.blueDottedBorder {
    
    margin: 20px 0;
    padding: 15px;
    border: 2px dashed blue;
   
}

 
.titleText1 {
    color: red;
    margin: 0;
}   


.titleText2 {
    color: blue;
    margin: 0;
}

